@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/Admin/vendor/metisMenu/metisMenu.css" rel="stylesheet" />
    <link href="~/Content/Admin/vendor/linearicons/style.css" rel="stylesheet" />
    <link href="~/Content/Admin/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Admin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Admin/css/demo.css" rel="stylesheet" />
    <link href="~/Content/Admin/css/main.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <!-- WRAPPER -->
    <div id="wrapper">
        <!-- NAVBAR -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-btn">
                    <button type="button" class="btn-toggle-offcanvas"><i class="lnr lnr-menu"></i></button>
                </div>
                <!-- logo -->
                <div class="navbar-brand">
                    <a href="@Url.Action("Index","Home")">Trang Chủ</a>
                </div>
                <!-- end logo -->
                <div class="navbar-right">
                    <!-- search form -->
                    <form id="navbar-search" class="navbar-form search-form">
                        <input value="" class="form-control" placeholder="Search here..." type="text">
                        <button type="button" class="btn btn-default"><i class="fa fa-search"></i></button>
                    </form>
                    <!-- end search form -->
                    <!-- navbar menu -->
                    <div id="navbar-menu">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">
                                    <i class="lnr lnr-alarm"></i>
                                    <span class="notification-dot"></span>
                                </a>
                                <ul class="dropdown-menu notifications">
                                    <li class="header"><strong>You have 7 new notifications</strong></li>
                                    <li>
                                        <a href="#">
                                            <div class="media">
                                                <div class="media-left">
                                                    <i class="fa fa-fw fa-flag-checkered text-muted"></i>
                                                </div>
                                                <div class="media-body">
                                                    <p class="text">Your campaign <strong>Holiday Sale</strong> is starting to engage potential customers.</p>
                                                    <span class="timestamp">24 minutes ago</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="media">
                                                <div class="media-left">
                                                    <i class="fa fa-fw fa-exclamation-triangle text-warning"></i>
                                                </div>
                                                <div class="media-body">
                                                    <p class="text">Campaign <strong>Holiday Sale</strong> is nearly reach budget limit.</p>
                                                    <span class="timestamp">2 hours ago</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="media">
                                                <div class="media-left">
                                                    <i class="fa fa-fw fa-bar-chart text-muted"></i>
                                                </div>
                                                <div class="media-body">
                                                    <p class="text">Website visits from Facebook is 27% higher than last week.</p>
                                                    <span class="timestamp">Yesterday</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="media">
                                                <div class="media-left">
                                                    <i class="fa fa-fw fa-check-circle text-success"></i>
                                                </div>
                                                <div class="media-body">
                                                    <p class="text">Your campaign <strong>Holiday Sale</strong> is approved.</p>
                                                    <span class="timestamp">2 days ago</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="media">
                                                <div class="media-left">
                                                    <i class="fa fa-fw fa-exclamation-circle text-danger"></i>
                                                </div>
                                                <div class="media-body">
                                                    <p class="text">Error on website analytics configurations</p>
                                                    <span class="timestamp">3 days ago</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="footer"><a href="#" class="more">See all notifications</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">
                                    <i class="lnr lnr-cog"></i>
                                </a>
                                <ul class="dropdown-menu user-menu menu-icon">
                                    <li class="menu-heading">ACCOUNT SETTINGS</li>
                                    <li><a href="#"><i class="fa fa-fw fa-edit"></i> <span>Basic</span></a></li>
                                    <li><a href="#"><i class="fa fa-fw fa-bell"></i> <span>Notifications</span></a></li>
                                    <li><a href="#"><i class="fa fa-fw fa-sliders"></i> <span>Preferences</span></a></li>
                                    <li><a href="#"><i class="fa fa-fw fa-lock"></i> <span>Privacy</span></a></li>
                                    <li class="menu-heading">BILLING</li>
                                    <li><a href="#"><i class="fa fa-fw fa-file-text-o"></i> <span>Invoices</span></a></li>
                                    <li><a href="#"><i class="fa fa-fw fa-credit-card"></i> <span>Payments</span></a></li>
                                    <li><a href="#"><i class="fa fa-fw fa-refresh"></i> <span>Renewals</span></a></li>
                                    <li class="menu-button">
                                        <a href="#" class="btn btn-primary"><i class="fa fa-rocket"></i> UPGRADE PLAN</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">
                                    <i class="lnr lnr-question-circle"></i>
                                </a>
                                <ul class="dropdown-menu user-menu">
                                    <li>
                                        <form class="search-form help-search-form">
                                            <input value="" class="form-control" placeholder="How can we help?" type="text">
                                            <button type="button" class="btn btn-default"><i class="fa fa-search"></i></button>
                                        </form>
                                    </li>
                                    <li class="menu-heading">HOW-TO</li>
                                    <li><a href="#">Setting up Campaign</a></li>
                                    <li><a href="#">Understanding Website Analytics</a></li>
                                    <li><a href="#">Boost Your Sales</a></li>
                                    <li><a href="#">Knowing Your Audience</a></li>
                                    <li class="menu-heading">ACCOUNT</li>
                                    <li><a href="#">Change Password</a></li>
                                    <li><a href="#">Privacy &amp; Security</a></li>
                                    <li><a href="#">Membership</a></li>
                                    <li class="menu-heading">BILLING</li>
                                    <li><a href="#">Setup Payment</a></li>
                                    <li><a href="#">Auto-Renewal Program</a></li>
                                    <li><a href="#">Cancellation</a></li>
                                    <li class="menu-button">
                                        <a href="#" class="btn btn-primary"><i class="fa fa-question-circle"></i> HELP CENTER</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- end navbar menu -->
                </div>
            </div>
        </nav>
        <!-- END NAVBAR -->
        <!-- LEFT SIDEBAR -->
        <div id="left-sidebar" class="sidebar" style="margin-top: 53px">
            <button type="button" class="btn btn-xs btn-link btn-toggle-fullwidth">
                <span class="sr-only">Toggle Fullwidth</span>
                <i class="fa fa-angle-left"></i>
            </button>
            <div class="sidebar-scroll">
                <div class="user-account" style=" width: 200px;">
                    <img src="~/anh/logo.png" class="img-responsive" alt="User Profile Picture" style="margin-top: -60px;">
                    <div class="dropdown">
                        <a href="#" class="dropdown-toggle user-name" data-toggle="dropdown" style="margin-top:-20px;">Hello, <strong>Admin</strong> <i class="fa fa-caret-down"></i></a>
                        <ul class="dropdown-menu dropdown-menu-right account">
                            <li><a href="#">Logout</a></li>
                        </ul>
                    </div>
                </div>
                <nav id="left-sidebar-nav" class="sidebar-nav" >

                    <ul id="main-menu" class="metismenu"  >
                        <li class=""><a href="@Url.Action("Index","Admin")"><i class="fa fa-home"></i> <span>Trang Chủ</span></a></li>
                        <li class=""><a href="@Url.Action("ThemSanPham","Admin")"><i class="fa fa-database"></i> <span>Quản Lý Sản Phẩm</span></a></li>
                        <li class=""><a href="@Url.Action("QLThuonghieu","Admin")"><i class="fa fa-shopping-bag"></i> <span>Quản Lý Thương Hiệu</span></a></li>
                    </ul>


                </nav>

            </div>
        </div>
        <!-- END LEFT SIDEBAR -->
        <!-- MAIN CONTENT -->
        <div id="main-content" style=" padding-top: 50px">
            <div class="container-fluid">
                @RenderBody()

            </div>
        </div>
        <!-- END MAIN CONTENT -->
        <div class="clearfix"></div>
    </div>
    <!-- END WRAPPER -->
    <!-- Javascript -->
    <script src="~/Content/Admin/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/Admin/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/Admin/vendor/metisMenu/metisMenu.js"></script>
    <script src="~/Content/Admin/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/Content/Admin/scripts/common.js"></script>
   
</body>

</html>
