@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/Admin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Admin/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/NguoiDungLayoutCss/main.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />

    <link href="~/Content/NguoiDungLayoutCss/about.css" rel="stylesheet" />

</head>

<header>
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WJZQSJF" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <div class="wrapper">
        <header class="hea">
            <div class="header">

                <a href="@Url.Action("ShowToCart","GioHang")">
                    <i class="fa-solid fa-cart-shopping" style=" font-size: 19px; height: 0px; padding-bottom: 10px; padding-right:3px;"></i>
                    @Html.Action("BagCart", "GioHang")
                </a>
                <div class="sign">
                    <a style=" margin-left: 10px;">

                        @Html.ActionLink("Đăng ký", "Dangky", null, htmlAttributes: new { @class = "DangKy" })

                    </a>

                    @Html.ActionLink("Đăng Nhập", "Dangnhap", null, htmlAttributes: new { @class = "DangNhap" })
                </div>

                <div style=" margin-top: 6px;">
                    <a href="">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                    <a href="">
                        <i class="fa-brands fa-instagram"></i>
                    </a>

                    <a href="">
                        <i class="fa-solid fa-phone"></i>
                    </a>

                    <p class="phone_number">
                        1900 2561
                    </p>
                </div>
            </div>
            <div class="nav_bar">
                <a href="@Url.Action("Index","Home")">
                    <img class="logo" src="~/anh/logo.png" alt="" style=" height: 150.783px; position: relative; left: 169px; top: 25px; transform: translate(0px, -11.8261px); width: 117.391px;">
                </a>
                <div class="menu">
                    @using (Html.BeginForm("LayTuKhoaTimKiem", "Timkiem"))
                    {

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10" style=" left: 328px;">
                                <input type="text" name="sTukhoa" placeholder="Nhập tên sản phẩm...">
                            </div>
                            <div class="col-md-offset-2 col-md-10"  style="left: 510px; top: -29px; ">
                                <input type="submit" value="Tìm kiếm" class="btn btn-default" />
                            </div>
                        </div>
                    }

                    <ul class="main_menu" style="justify-content: center; ">
                        <li><a clas="menu_item" href="@Url.Action("Index", "Home")"> TRANG CHỦ</a></li>
                        <li><a clas="menu_item" href="@Url.Action("About","Home")"> GIỚI THIỆU </a></li>
                        <li><a clas="menu_item" href="@Url.Action("product","Home")"> SẢN PHẨM</a></li>
                        <li><a clas="menu_item" href="@Url.Action("Lienhe","Home")"> LIÊN HỆ</a></li>
                    </ul>
                </div>
            </div>
        </header>
        <main class="main" style="background-color: rgb(246 235 227);">
            @RenderBody()


        </main>



        <!--ket web-->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="footer-col">
                        <h4>NHÓM PHÁT TRIỂN</h4>
                        <ul>
                            <li><a href="">THÀNH VIÊN NHÓM</a></li>
                            <li><a href="">Phan Văn Đạt</li>
                            <li><a href="">Nguyễn Trần Thành An</li>
                            <li><a href="">Trần Khôi Nguyên</li>
                            <li><a href="">Nguyễn Ngọc Tân </li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>HỖ TRỢ KHÁCH HÀNG</h4>
                        <ul>
                            <li><a href="">Tổng Đài: 086 368 7466</li>
                            <li><a href="">P. Hỗ trợ khách hàng: </li>
                            <li><a href="">phandat6602@gmail.con</li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>GIỚI THIỆU</h4>
                        <ul>
                            <li><a href="">Trang Chủ</a></li>
                            <li><a href="">Giới Thiệu</a></li>
                        </ul>
                    </div>

                    <div class="footer-col">
                        <h4>LIÊN HỆ</h4>
                        <div class="social-licks">
                            <a href="">
                                <i class="fa-brands fa-facebook-f"></i>
                            </a>
                            <a href="">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                            <a href="">
                                <i class="fa-solid fa-phone"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</header>
</body>
</html>
