@model WebTraSua.Models.Trasua

@{
    ViewBag.Title = "Xoasp";
    Layout = "~/Views/Layout/Admin.cshtml";
}

<h2>Thông Tin Sản Phẩm Cần Xóa</h2>

<h3>Bạn muốn xóa trà sữa này?</h3>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Mã Trà Sữa:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaTS)
        </dd>

        <dt>
            Tên Trà Sữa:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenTS)
        </dd>

        <dt>
            Giá bán:
        </dt>

        <dd>
            @string.Format("{0:0,0}", Model.GiaTS) VND
        </dd>

        <dt>
            Thương Hiệu:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Thuonghieu.TenTH)
        </dd>

        <dt>
            Ảnh trà sữa:
        </dt>

        <dd>
            <img src="@Url.Content("~/HinhAnhSP/"+ Model.AnhBia)" width="120px" />
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color" style="margin-left: 28px;">
      
             <a href="@Url.Action("ThemSanPham", "Admin")" class="btn btn-default" style=" color: white; background-color: #4aa331; margin-right: 70px;"> Quay về </a> 
            <input type="submit" value="Xóa" class="btn btn-default" style="color: white; background-color: #e22020;" /> 

        </div>
    }
</div>
